<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 0 ">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="height:10vh">
        <a class="navbar-brand" href="/Home/Index">App Eventos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-link"><a class="navbar-text" href="/Home/Index">Home</a></li>
            </ul>

            

            <span class="navbar-text" style="margin: 0 50px 0 auto" display:block;>

                @if (Session["UsuarioLogeado"] != null && AppEventos.Controllers.SessionHelper.UsuarioLogueado.Vendedor == true)
                {
                    <a href="~/Evento/CrearEvento" class="btn btn-info d-inline-block"> Crear evento</a>

                }
                @if (Session["UsuarioLogeado"] != null && !AppEventos.Controllers.SessionHelper.UsuarioLogueado.Vendedor)
                {
                    <text><a class="btn btn-info d-inline-block" style="color:#ffffff" href="/Usuario/AltaVendedor">Quiero Vender Eventos</a></text>
                }

                @if (Session["UsuarioLogeado"] != null)
                {
                    <span class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hola @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Nombre
                        </button>
                        <div class="dropdown-menu dropd" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" style="color:black" href="/Usuario/Perfil">Mi Perfil</a>
                            <a class="dropdown-item" style="color:black" href="/Login/Logout">Cerrar Sesion</a>
                        </div>
                    </span>
                }
                else
                {
                    <li class="nav-link"><a class="navbar-text" href="/Login/Login">Login</a></li>
                }
            </span>
        </div>
    </nav>
    <div class="container body-content">
        <div class="jumbotron" style="margin-top:10vh; padding:20px">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grupo X ORT Nuevas Tecnologias</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .dropd {
        font-family: monospace;
        border-radius: 0;
    }
    label {
        color: darkslategray;
        font-weight: bold;
    }

    h1 {
        color: darkslategray;
        font-weight: bold;
    }

    h3 {
        color: darkslategray;
        font-weight: bold;
    }

    div.container {
        padding-top: 15px;
    }

    input.form-control:read-only {
        background-color: white;
    }

    textarea.form-control:read-only {
        background-color: white;
    }

    textarea {
        resize: none;
    }
    .btn {
        padding: 2px 20px;
        border-radius: 0px;
        letter-spacing: 1.8px;
        font-family: monospace;
        text-transform: uppercase;
    }
    .form-control {
        border-radius: 0;
        padding: 0 8px;
        height: 30px;
    }
    label {
        font-family:monospace;
        text-transform:uppercase
    }

</style>