@{ ViewData["Title"] = "Mi Perfil";
}
<h1>@ViewData["Title"]</h1>
<div class="main-layout">
    <div class="card">
        <div class="card-header">
            <h3><strong>Editar datos de usuario</strong></h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Nombre</label>
                    <input value="@AppEventos.Controllers.SessionHelper.UsuarioLogueado.Nombre" type="text" class="form-control" name='Nombre'>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input value="@AppEventos.Controllers.SessionHelper.UsuarioLogueado.Apellido" type="text" class="form-control" name='Apellido'>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input disabled value="@AppEventos.Controllers.SessionHelper.UsuarioLogueado.Username" type="text" class="form-control" name='Username'>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input disabled value="@AppEventos.Controllers.SessionHelper.UsuarioLogueado.Email" type="text" class="form-control" name='Email'>
                </div>
                @*<div class="form-group">
                    <label>Descripcion</label>
                    <input disabled value="@AppEventos.Controllers.SessionHelper.UsuarioLogueado.Descripcion" type="textarea" class="form-control" name='Email'>
                </div>*@
            </form>

            <a href="~/Usuario/Perfil" class="btn btn-primary"><button type="button" class="btn btn-primary">Salir sin guardar</button></a>
        </div>
    </div>
</div>



<style>
</style>
