@{
    ViewData["Title"] = "Perfil";
}


<div class="main-layout">
    <div class="card">
        <div class="card-header">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Nombre
            @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Apellido -
            @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Username -
            @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Nombre -
            @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Email -
        </div>
    </div>
</div>

<style>
    .login-container > input {
        display: block;
        margin: 20px
    }

    .form-group {
        width: 50%;
    }
</style>