@{ ViewData["Title"] = "Mi Perfil";
    }
<h1>@ViewData["Title"]</h1>


<div class="main-layout">
    <div class="card">
        <div class="card-header">
            <h3><strong>Datos de usuario</strong></h3>
        </div>
        <div class="card-body">
            <a href="~/Usuario/EditarPerfil"><button class="btn btn-primary">Editar</button> </a>
            <p class="card-text"><h4><strong>Nombre: </strong> @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Nombre</h4></p>
            <p class="card-text"><h4><strong>Apellido: </strong>@AppEventos.Controllers.SessionHelper.UsuarioLogueado.Apellido   </h4></p>
            <p class="card-text"><h4><strong>Nombre de usuario: </strong>@AppEventos.Controllers.SessionHelper.UsuarioLogueado.Username</h4></p>
            <p class="card-text"><h4><strong>Email:</strong> @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Email</h4></p>
            <p class="card-text"><h4><strong>Descripcion:</strong> @AppEventos.Controllers.SessionHelper.UsuarioLogueado.Descripcion</h4></p>

            <a href="~/Home/Index" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>

<style>
</style>
