@{
    ViewBag.Title = "Detalles del evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Usuario = (usuario)ViewData["UsuarioEvento"];
}


@model evento

<h1>@ViewData["Title"]</h1>

<div class="container col-12 " style="display: inline-block !important; width: 100%; vertical-align: top;">


    <div class="form-group col-lg-12">
        <div class="row">

            <div class="card">
                <div class="card-header">
                    <h3><strong>@Model.Titulo </strong></h3>
                    <label class="lblForm">Ubicación: @Model.Ubicacion</label>

                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        Fecha de inicio: @Model.Fecha_desde
                    </div>
                    <div class="alert alert-danger" role="alert">
                        Fecha de finalización: @Model.Fecha_hasta
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="lblForm">@Model.Resumen</label>

                        </div>
                        <div class="form-group col-12">
                            <label class="lblForm">@Model.Descripcion</label>

                        </div>
                        <div class="form-group col-12">
                            <label class="lblForm">Tope gente: @Model.Tope_gente</label>

                        </div>
                    </div>


                </div>
            </div>




            <div class="evento-container col-md-4">
                <h1>Detalles del usuario</h1>

                @Usuario.Nombre

                Detalle Descripción:


                asd34
            </div>
        </div>

        <div>
            <form action="@Url.Action("ComprarEntrada", "Evento")" method="post">
                <input type="number" name="cantidad" id="cantidad" min="1" max="4" />
                <button type="submit" class="btn btn-primary">Comprar Entrada</button>
            </form>
            <div class="alert alert-danger" id="alertLogin" @{if (ViewData["ErrorMessage"] == null) { <text> style='display:none' </text>  } }>
                @ViewData["ErrorMessage"]
            </div>
        </div>
        <div>
            <a href="~/"><button class="btn btn-primary" style="float:right; display:inline-flex">Volver</button></a>
        </div>
    </div>
</div>
