@{
    ViewBag.Title = "Detalles del evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Usuario = (usuario)ViewData["UsuarioEvento"];
    var usuarioLogeado = @AppEventos.Controllers.SessionHelper.UsuarioLogueado;
}


@model evento

<h1>@ViewData["Title"]</h1>

<div class="container col-12 " style="display: inline-block !important; width: 100%; vertical-align: top;">


    <div class="form-group col-lg-12">
        <div class="row">

            <div class="card" style="width:100%">
                <div class="card-header">
                    <h3><strong>@Model.Titulo </strong></h3>
                    <label class="lblForm">Ubicación: @Model.Ubicacion</label>

                </div>

                <div class="alert alert-success" style="text-align:center">
                    <img src="~/Content/Eventos/@Model.Id/@Model.Imagen_portada" class="img-responsive" style="width:auto;max-width:300px;">
                </div>
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="form-group col-12">
                            <h4>Sobre el evento</h4>
                            <label class="lblForm">@Model.Resumen</label>

                        </div>
                        <div class="form-group col-12">
                            <label class="lblForm">@Model.Descripcion</label>

                        </div>

                        <div class="form-group col-12">
                            <label class="lblForm">Fecha de inicio: @Model.Fecha_desde</label>

                        </div>
                        <div class="form-group col-12">

                            <label class="lblForm"> Fecha de finalización: @Model.Fecha_hasta</label>

                        </div>

                        <div class="form-group col-12">
                            <label class="lblForm">Tope gente: @Model.Tope_gente</label>

                        </div>
                        <div class="form-group col-12">
                            <label class="lblForm">Entradas Vendidas: @Model.topeEntradas()</label>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Conoce al instructor</h4>
                        <img src="~/Content/Usuarios/@Usuario.Email/@Usuario.Imagen" class="img-responsive justify-content-center" style="width:100%; max-width: 600px;">

                        <h5>@Usuario.Nombre @Usuario.Apellido</h5>

                        <h5></h5>

                        <p>@Usuario.Descripcion</p>

                    </div>


                </div>
            </div>




            <div class="evento-container col-md-6">
                <h2>¿Desea asistir al evento?</h2>

                @if (usuarioLogeado != null)
                {
                    <text>
                        Comprar entradas para:
                        @usuarioLogeado.Nombre @usuarioLogeado.Apellido
                    </text>
                }
            </div>
        </div>

        <div>
            <form action="@Url.Action("ComprarEntrada", "Evento")" method="post">
                Elige cantidad de 1 a 4
                <input type="number" name="cantidad" id="cantidad" min="1" max="4" />
                <button type="submit" class="btn-lg btn-primary">Comprar Entrada</button>
            </form>
            <div class="alert alert-danger" id="alertLogin" @{if (ViewData["ErrorMessage"] == null) { <text> style='display:none' </text>  } }>
                @ViewData["ErrorMessage"]
            </div>
        </div>
        <div>
            <a href="~/"><button class="btn btn-primary" style="float:right; display:inline-flex">Volver</button></a>
        </div>
    </div>

</div>
